<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>EDUtilitiesDemo.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1D73BDB825E3855800CA2AEF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1D73BDD125E3855A00CA2AEF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1D73BDDC25E3855A00CA2AEF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
